{% extends "allocations/allocation_detail.html" %}

{% load i18n widget_tweaks %}
{% block modal_action %}
    action="{% url 'allocations:delete' allocation.pk %}" id="allocations-update"
{% endblock modal_action %}

{% block modal_footer %}
  <input type="submit" class="btn btn-danger btn-fill" value="Conferma">
{% endblock %}

{% block modal_extra_script %}
    <script>
        $('#myModal2').on('hidden.bs.modal', function () {
            window.location.reload(true);
        })
    </script>
{% endblock modal_extra_script %}