{% extends "base_modal.html" %}

{% block modal_title %}
    Riepilogo
{% endblock modal_title %}

{% block modal_body %}
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="active">
        <th>Nominativo</th>
        <td>{{ allocation.person.surname }} {{ allocation.person.user.name }}</td>
      </tr>
      <tr>  
        <th>Allocazione</th>
        <td>{{ allocation.location }}</td>
      </tr>
      <tr>
        <th>Data inizio</th> 
        <td>{{ allocation.start_date }}</td>
      </tr>
      <tr>
        <th>Data fine</th> 
        <td>{{ allocation.end_date }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock modal_body %}

{% block modal_reset %}{% endblock modal_reset %}

{% block modal_extra_script %}
    <script>
        $('#myModal').on('hidden.bs.modal', function () {
            window.location.reload(true);
        })
    </script>
{% endblock modal_extra_script %}