{% extends "base.html" %}

{% block heading %}
  Stagione corrente: {{ season.start_date }} - {{ season.end_date }}
{% endblock heading %}

{% block content %}

  <div class="text-center">
    <div class="table-responsive">
      <table class="table table-bordered">
      {% for day in calendar %}
        <tr>
        {% for person, allocations in day.items %}
          <td class="text-left">
          {{ person|title }}</td>
          {% for allocation in allocations %}
            <td>
             {% ifequal forloop.parentloop.parentloop.counter 1 %}
              <a href="{% url 'day' allocation|date:"Y" allocation|date:"m" allocation|date:"d" %}">
                {{ allocation|date:"D" }} <br />
                {{ allocation|date:"d" }}
              </a>
             {% else %}
              <a class="calendar"
              tabindex="0" role="button"
              data-trigger="focus"
              data-toggle="popover" 
              title="{{ allocation.location.name }}" 
              data-placement="top"
              data-content="{{ allocation.location.description }}">
              <span class="gray">
                {{ allocation.location.abbreviation }}
              </span>
              </a>
            {% endifequal %}
            </td>
           {% endfor %}
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  
{% endblock content %}

{% block extrascript %}
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
{% endblock %}