{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block extrahead %}{% endblock %}

{% block heading %}
  {{ season.name|title }}: {{ season.start_date }} - {{ season.end_date }}
{% endblock heading %}

{% block content %}

  <div class="text-center">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed">
      {% for day in calendar %}
        <tr>
        {% for person, allocations in day.items %}
          <td class="text-left">
            {{ person.0|title }}
            {{ person.1|title }}
          </td>
          {% for allocation in allocations %}
            <td style="vertical-align: middle;">
             {% ifequal forloop.parentloop.parentloop.counter 1 %}
              <a href="{% url 'day' allocation|date:"Y" allocation|date:"m" allocation|date:"d" %}">
                {{ allocation|date:"D" }} <br />
                {{ allocation|date:"d" }}
              </a>
             {% else %}
              <span class="gray">
                <abbr title="{{ allocation.0.0 }}">{{ allocation.0.2 }}</abbr>
              </span>
            {% endifequal %}
            </td>
           {% endfor %}
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  
{% endblock content %}