{% extends "base.html" %}

{% block title %}
luoghi
{% endblock title %}

{% block content_title %}
  Legenda per il calendario
{% endblock content_title %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
          <tr>
              <th class="text-center">#</th>
              <th>Nome</th>
              <th>Descrizione</th>
              <th>Etichetta</th>            
          </tr>
      </thead>
      <tbody>
        {% for location in locations %}
          <tr>
              <td class="text-center">{{ location.id }}</td>
              <td>{{ location.name }}</td>
              <td>{{ location.description }}</td>
              <td>
                <span class="label" style="border-color: {{ location.color }}; color: {{ location.color }};">
                  {{ location.get_color_display }}
                </span>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>    
{% endblock content %}