<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <title>klogistics &raquo; {% block title %}{% endblock %}</title>
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/kl-logo.ico" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap/bootstrap.css" />

  <!-- Get Shit Done Kit CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/get-shit-done-pro/gsdk.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/get-shit-done-pro/examples.css" rel=""/>
  
  <!-- Fonts and icons CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300'>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/get-shit-done-pro/pe-icon-7-stroke.css" />

  <!-- Klogistics CSS
  <link rel="stylesheet" href="{{ STATIC_URL }}css/klogistics.css" />
  -->

  <!-- jQuery core JavaScript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/jquery.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/jquery-ui.custom.min.js" ></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>

  {% block extrahead %}{% endblock %}

</head>

<body class="about-us">

  {% block navbar %}
    <nav class="navbar navbar-icons" style="margin-bottom: 0;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div data-no-turbolink="">
          <a class="navbar-brand" href="{% url 'people:today' %}">
            Klogistics
            <sup class="label label-primary label-new label-fill" style="text-transform: lowercase;">
              &beta;eta
            </sup>
          </a>
        </div>
      </div> <!-- end navbar header -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="pe-7s-keypad"></i>
                      <p>
                          Menu
                          <b class="caret"></b>
                      </p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
          </li>
           <li>
             <a href="">
                  <i class="pe-7s-global"></i>
                  <p>Explore</p>
              </a>
          </li>
          <li>
             <a href="">
                  <i class="pe-7s-config"></i>
                  <p>Settings</p>
              </a>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="pe-7s-user"></i>
              <p>{{ user.name }} <span class="caret"></span></p>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>
  {% endblock navbar %}

<div class="wrapper">
<!--
  <div class="parallax filter-black">
          <div class="parallax-image">
            <img src="http://www.macwallhd.com/wp-content/Wallpapers/20120909/Science%20and%20Music%20HD%20Mac%20Wallpapers%20Mixing%20Audio-632186371.jpeg">
        </div>
        <div class="small-info">
            <h1>Web dev rocks</h1>
            <h3>
              {% block heading %}
              {% endblock heading %}
            </h3>
        </div>
  </div>
-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="myModalContent">
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="myModalContent2">
      </div>
    </div>
  </div>
  
  {% block content %}{% endblock content %}

  {% block footer %}{% endblock footer %}


  <!-- Modal JavaScript
  <script src="{{ STATIC_URL }}js/jquery/jquery.form.js"></script>
  <script src="{{ STATIC_URL }}js/klogistics.js"></script>
  -->

  <!-- Get Shit Done Pro plugins JavaScript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-checkbox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-morphing.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-radio.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-bootstrapswitch.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/chartist.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/jquery.tagsinput.js"></script>
  
  <!--  Get Shit Done Kit Pro core JavaScript    -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/get-shit-done.js"></script>

  {% block extrascript %}{% endblock extrascript %}

</div> <!-- end body wrapper -->
</body>

</html>
