<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <title>klogistics &raquo; {% block title %}{% endblock %}</title>
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/kl-logo.ico" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap/bootstrap.css" />

  <!-- Get Shit Done Kit CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/get-shit-done-pro/gsdk.css" />
  
  <!-- Fonts and icons CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300'>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/get-shit-done-pro/pe-icon-7-stroke.css" />

  <!-- JQuery Core Javascript -->
  <script src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>

  {% block extrahead %}{% endblock %}

</head>

<body>

{% block navbar %}
  {% include "navbar.html" %}
{% endblock navbar %}

<div class="wrapper">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="myModalContent">
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="myModalContent2">
      </div>
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <h2 class="section-title text-center">
        {% block content_title %}{% endblock content_title %}
      </h2>
      <div class="col-md-12" style="height:30px;"></div>
        {% block content %}{% endblock content %}
    </div>
  </div>

  {% block extracontent %}{% endblock extracontent %}
  
  {% block footer %}
    {% include "footer.html" %}
  {% endblock footer %}

  <!-- jQuery core JavaScript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.form.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>  
  
  <!-- Plugins JavaScript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-checkbox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-morphing.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-radio.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/gsdk-bootstrapswitch.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/bootstrap-datepicker-it.js"></script>
  
  <!-- Get shit done core Javascript -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/get-shit-done-pro/get-shit-done.js"></script> 

  <script type="text/javascript">
    $("#myModal").draggable({
      handle: ".modal-header"
    });

    $("#myModal2").draggable({
      handle: ".modal-header"
    });
  </script>

  {% block extrascript %}{% endblock extrascript %}

</div> <!-- end body wrapper -->

</body>

</html>
