<nav class="navbar navbar-ct-azure navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div data-no-turbolink="">
        <a class="navbar-brand" href="{% url 'people:today' %}">
          Klogistics
          <sup class="label label-primary label-new label-fill" style="text-transform: lowercase;">
            &beta;eta
          </sup>
        </a>
      </div>
    </div> <!-- end navbar header -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Menu <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">
              <li>
                <a data-toggle="modal" data-target="#myModal" href="{% url 'allocations:create' %}">
                  <i class="pe-7s-pen"></i>
                  Registrazione
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'allocations:locations' %}">
                  <i class="pe-7s-map"></i>
                  Luoghi
                </a>
              </li>
              <li class="divider"></li>
              {% for s in seasons %}
              {% if forloop.first %}
              <li>
                <a href="{% url 'allocations:season' s.slug %}">
                  <i class="pe-7s-date"></i> Periodi
                </a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'allocations:season' s.slug %}">
                  {{ s.name|title }}
                  {% ifequal s.state "1" %}
                    <span class="label label-default">corrente</span>
                  {% endifequal %}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              {{ user.name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-with-icons">
              {% if user.is_superuser %}
                <li>
                  <a href="/admin">
                    <i class="pe-7s-settings"></i> Admin
                  </a>
                </li> <!-- Admin -->
              {% endif %}
              <li>
                <a href="{% url 'people:pwchange' %}">
                  <i class="pe-7s-key"></i> Modifica password
                </a>
              <li>
              <li>
                <a href="{% url 'people:logout' %}" class="text-danger">
                    <i class="pe-7s-close-circle"></i>
                    Log out
                </a>
              </li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>