{% extends "base.html" %}
{% load i18n static %}

{% block heading %}{{ title }}{% endblock heading %}

{% block content %}
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
    <form class="form-horizontal" method="post"> {% csrf_token %}
        <span id="helpBlock" class="help-block">
        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
        </span>
        <div class="form-group">
            {% if form.old_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ form.old_password.errors|striptags }}
                </div>
            {% endif %}
            <label for="id_old_password" class="col-sm-4 control-label">
                {{ form.old_password.label_tag }}
            </label>
            <div class="col-sm-8">
                <input id="id_old_password" name="old_password" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            {% if form.new_password1.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.new_password1.errors|striptags }}
            </div>
            {% endif %}
            <label for="id_new_password1" class="col-sm-4 control-label">
                {{ form.new_password1.label_tag }}
            </label>
            <div class="col-sm-8">
                <input id="id_new_password1" name="new_password1" type="password" class="form-control" aria-describedby="helpBlock">
            </div>
            {% if form.new_password1.help_text %}
            <div class="col-sm-12">
                <div id="helpBlock" class="help-block">
                    Regole per una buona password:
                    {{ form.new_password1.help_text|safe }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {% if form.new_password2.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.new_password2.errors|striptags }}
            </div>
            {% endif %}
            <label for="id_new_password1" class="col-sm-4 control-label">
                {{ form.new_password2.label_tag }}
            </label>
            <div class="col-sm-8">
                <input id="id_new_password2" name="new_password2" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-default" />
            </div>
        </div>
    </form>
</div> <!-- Central grid column -->

<div class="col-md-3"></div> <!-- Right grid column -->
</div> <!-- Grid row-->
{% endblock content %}
